.places h1{
    font-size: 30px;
}
.places{
    margin-bottom: 50px;
}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.places .articles{
    display: flex;
    flex-wrap: wrap;
}
.sub_art{
    display: flex;
}
.places article h2{
    font-size: 30px;
    margin: auto;
    margin-top: 0;
}
.top{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.top .price_by_night{
    margin-left: auto;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms{
    width: 100px;
    align-items: center;
}
.information p{
    margin-top: 0;
}
.information .max_guest::before{
    content: url("../images/icon_group.png");
}
.information .number_rooms::before{
    content: url("../images/icon_bed.png");
}
.information .number_bathrooms::before{
    content: url("../images/icon_bath.png");
}

ul,
li{
    padding-left: 0;
    list-style: none;
}

.user-review{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.amenities,
.reviews{
    margin-top: 40px;
}
.amenities h2,
.reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.reviews ul li h3{
    font-size: 14px;
}
.reviews ul li p{
    font-size: 12px;
}

.tv::before{
    content: url("../images/icon_tv.png");
}
.wifi::before{
    content: url("../images/icon_wifi.png");
}
.pets::before{
    content: url("../images/icon_pets.png");
}

.tv,
.pets,
.wifi{
    display: flex;
    align-items: center;
}
.amenities_icons{
    margin-top: 20px;
}