footer {
    margin-bottom: 0;
    display: flex;
    background-color: green;
    height: 60px;
    width: 100%;
    color: white;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}